@charset "UTF-8";
/* keyframes du loading spinner */
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes disappear {
  0% {
    opacity: 1;
    z-index: 1001;
  }
  99% {
    opacity: 1;
    z-index: 1001;
  }
  100% {
    opacity: 0;
    z-index: -1000;
    display: none;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
    z-index: 1001;
  }
  99% {
    opacity: 1;
    z-index: 1001;
  }
  100% {
    opacity: 0;
    z-index: -1000;
    display: none;
  }
}
/* keyframe apparition des plats en décalé */
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
body {
  width: 100%;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
}
@media only screen and (min-width: 1920px) {
  h1 {
    font-size: 2.5rem;
  }
}

ul {
  list-style-type: none;
}
@media only screen and (min-width: 1920px) {
  ul {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 3000px) {
  ul {
    font-size: 1.5rem;
  }
}

.button-primary {
  border: none;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 60px;
  box-shadow: 0px 1px 20px #a8a8a8;
}
.button-primary--gradient {
  background: linear-gradient(176deg, #ff79da 5%, #9256dc 100%);
}
.button-primary--text {
  font-size: 1.2rem;
  color: white;
}
@media only screen and (min-width: 1920px) {
  .button-primary--text {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 3000px) {
  .button-primary--text {
    font-size: 1.5rem;
  }
}
.button-primary:hover {
  cursor: pointer;
  background: linear-gradient(176deg, #ff93e1 0%, #a06be0 185%);
  box-shadow: 0px 1px 21px #8f8f8f;
}

/* loader double cercle */
.load-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-animation: forwards disappear;
  animation: forwards disappear;
  animation-duration: 3s;
  animation-timing-function: ease-in;
}

.loader {
  width: 4rem;
  height: 4rem;
  display: inline-block;
}

.loader-circles {
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9256dc;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
.loader-circles::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 3px solid transparent;
  border-top-color: #ff79da;
  border-radius: 50%;
  -webkit-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
}
.loader-circles::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 13px;
  right: 13px;
  bottom: 13px;
  border: 3px solid transparent;
  border-top-color: #fface8;
  border-radius: 50%;
  -webkit-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite;
}

/* fin loader double cercle */
.h1__Menu {
  font-size: 1.8rem;
  margin: 0;
}
@media only screen and (min-width: 1224px) {
  .h1__Menu {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1920px) {
  .h1__Menu {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 3000px) {
  .h1__Menu {
    font-size: 3rem;
  }
}

.h2__thin-uppercase {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}
@media only screen and (min-width: 1224px) {
  .h2__thin-uppercase {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 3000px) {
  .h2__thin-uppercase {
    font-size: 2rem;
  }
}

.h3__menus {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  margin: 0;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  display: ruby;
}
@media only screen and (min-width: 1224px) {
  .h3__menus {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 1920px) {
  .h3__menus {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 3000px) {
  .h3__menus {
    font-size: 2rem;
  }
}

p {
  font-weight: 200;
  font-size: 1rem;
  margin: 0;
}
@media only screen and (min-width: 1224px) {
  p {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 1920px) {
  p {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 3000px) {
  p {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 320px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px #797979;
    position: relative;
    z-index: 1;
  }
  header .header__title {
    margin: 0.5rem;
  }
}
@media only screen and (min-width: 320px) and (min-width: 3000px) {
  header .header__title {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 320px) {
  header .home-link {
    position: relative;
    left: -11%;
  }
}
@media only screen and (min-width: 320px) and (min-width: 768px) {
  header .home-link {
    left: -30%;
  }
}
@media only screen and (min-width: 320px) and (min-width: 1224px) {
  header .home-link {
    left: -35%;
  }
}
@media only screen and (min-width: 320px) and (min-width: 2000px) {
  header .home-link {
    left: -40%;
  }
}
@media only screen and (min-width: 320px) and (min-width: 3000px) {
  header .home-link {
    left: -43%;
  }
}
@media only screen and (min-width: 320px) {
  header .home-link .fa-arrow-left {
    font-size: 1.5rem;
    color: #353535;
  }
}
@media only screen and (min-width: 320px) {
  .container {
    background-color: #F6F6F6;
    height: 100%;
  }
  .container .under-header {
    width: 100%;
    margin: 0;
  }
}
@media only screen and (min-width: 320px) and (min-width: 768px) {
  .container .under-header {
    display: flex;
    height: 25rem;
  }
}
@media only screen and (min-width: 320px) and (min-width: 992px) {
  .container .under-header {
    height: 30rem;
  }
}
@media only screen and (min-width: 320px) and (min-width: 1920px) {
  .container .under-header {
    display: flex;
    height: 40rem;
  }
}
@media only screen and (min-width: 320px) and (min-width: 3000px) {
  .container .under-header {
    height: 55rem;
  }
}
@media only screen and (min-width: 320px) {
  .container .under-header__banner-menu {
    width: 100%;
    object-fit: cover;
  }
}
@media only screen and (min-width: 320px) {
  .Menu {
    background-color: #F6F6F6;
    padding-top: 2rem;
    padding-bottom: 0rem;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: relative;
    top: -3.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }
  .Menu__title-and-heart {
    width: 90%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .Menu__title-and-heart .fas {
    font-size: 1.5rem;
    font-weight: 100;
    color: #4F4F4F;
  }
}
@media only screen and (min-width: 320px) and (min-width: 1920px) {
  .Menu__title-and-heart .fas {
    font-size: 2rem;
    margin-right: 2rem;
  }
}
@media only screen and (min-width: 320px) and (min-width: 3000px) {
  .Menu__title-and-heart .fas {
    font-size: 2.2rem;
  }
}
@media only screen and (min-width: 320px) {
  .Menu__title-and-heart .fas:hover {
    font-weight: 900;
    color: #9356dc;
    display: block;
    background: -webkit-linear-gradient(#9256dc, #ff79da);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
}
@media only screen and (min-width: 320px) {
  .Menu__starter-dish-dessert {
    width: 93%;
    margin-bottom: 1rem;
  }
  .Menu__starter-dish-dessert__title-and-underline {
    border-bottom: 3px solid #99e2d0;
    margin: 0;
    padding-bottom: 0.2rem;
    width: 3.2rem;
  }
}
@media only screen and (min-width: 320px) {
  .Menu__boxes {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.8rem;
    margin-bottom: 3rem;
  }
}
@media only screen and (min-width: 320px) and (min-width: 1224px) {
  .Menu__boxes {
    height: 20rem;
  }
}
@media only screen and (min-width: 320px) and (min-width: 2000px) {
  .Menu__boxes {
    height: 25rem;
  }
}
@media only screen and (min-width: 320px) and (min-width: 3000px) {
  .Menu__boxes {
    height: 28rem;
  }
}
@media only screen and (min-width: 320px) {
  .Menu__boxes__individual-boxes {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    border-radius: 20px;
    background-color: white;
    height: 4.6rem;
    width: 100%;
    opacity: 0;
    animation: fadein 1s forwards;
  }
  .Menu__boxes__individual-boxes:nth-child(1) {
    animation-delay: 2.8s;
  }
  .Menu__boxes__individual-boxes:nth-child(2) {
    animation-delay: 3s;
  }
  .Menu__boxes__individual-boxes:nth-child(3) {
    animation-delay: 3.2s;
  }
  .Menu__boxes__individual-boxes:nth-child(4) {
    animation-delay: 3.3s;
  }
}
@media only screen and (min-width: 320px) and (min-width: 992px) {
  .Menu__boxes__individual-boxes {
    width: 95%;
  }
}
@media only screen and (min-width: 320px) and (min-width: 1224px) {
  .Menu__boxes__individual-boxes {
    height: 6rem;
  }
}
@media only screen and (min-width: 320px) and (min-width: 2000px) {
  .Menu__boxes__individual-boxes {
    height: 7rem;
  }
}
@media only screen and (min-width: 320px) and (min-width: 3000px) {
  .Menu__boxes__individual-boxes {
    height: 8rem;
  }
}
@media only screen and (min-width: 320px) {
  .Menu__boxes__individual-boxes:hover .Menu__boxes__individual-boxes__description-column {
    cursor: pointer;
    width: 77%;
  }
}
@media only screen and (min-width: 320px) and (min-width: 481px) {
  .Menu__boxes__individual-boxes:hover .Menu__boxes__individual-boxes__description-column {
    width: 80%;
  }
}
@media only screen and (min-width: 320px) and (min-width: 768px) {
  .Menu__boxes__individual-boxes:hover .Menu__boxes__individual-boxes__description-column {
    width: 110%;
  }
}
@media only screen and (min-width: 320px) {
  .Menu__boxes__individual-boxes:hover .Menu__boxes__individual-boxes__select-button {
    cursor: pointer;
    width: 20%;
  }
}
@media only screen and (min-width: 320px) and (min-width: 1920px) {
  .Menu__boxes__individual-boxes:hover .Menu__boxes__individual-boxes__select-button {
    width: 15%;
  }
}
@media only screen and (min-width: 320px) {
  .Menu__boxes__individual-boxes:hover .Menu__boxes__individual-boxes__select-button .fa-check-circle {
    cursor: pointer;
    transform: rotate(0turn);
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 320px) and (min-width: 1224px) {
  .Menu__boxes__individual-boxes:hover .Menu__boxes__individual-boxes__select-button .fa-check-circle {
    font-size: 1.9rem;
  }
}
@media only screen and (min-width: 320px) and (min-width: 2000px) {
  .Menu__boxes__individual-boxes:hover .Menu__boxes__individual-boxes__select-button .fa-check-circle {
    font-size: 2.6rem;
  }
}
@media only screen and (min-width: 320px) {
  .Menu__boxes__individual-boxes__title {
    text-overflow: ellipsis;
    overflow: hidden;
    display: ruby;
    padding-right: 3.5rem;
  }
}
@media only screen and (min-width: 320px) {
  .Menu__boxes__individual-boxes__description-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0.5rem;
    overflow: hidden;
    transition: all 300ms ease-in-out;
  }
}
@media only screen and (min-width: 320px) {
  .Menu__boxes__individual-boxes__description-and-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 1rem;
  }
  .Menu__boxes__individual-boxes__description-and-price__description {
    text-overflow: ellipsis;
    overflow: hidden;
    display: ruby;
    padding-right: 1rem;
  }
  .Menu__boxes__individual-boxes__description-and-price__price {
    font-weight: 400;
  }
}
@media only screen and (min-width: 320px) {
  .Menu__boxes__individual-boxes__select-button {
    background-color: #99e2d0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 0%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 300ms ease-in-out;
  }
  .Menu__boxes__individual-boxes__select-button .fa-check-circle {
    color: white;
    font-size: 0rem;
    transform: rotate(-1turn);
    transition: all 300ms ease-in-out;
  }
}
@media only screen and (min-width: 320px) {
  footer {
    background-color: #353535;
    width: 100%;
    margin: 0;
    border: 1px solid #353535;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }
  footer .footer__title {
    padding-left: 1.5rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
}
@media only screen and (min-width: 320px) and (min-width: 1920px) {
  footer .footer__title {
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }
}
@media only screen and (min-width: 320px) and (min-width: 3000px) {
  footer .footer__title {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 320px) {
  footer .footer__ul {
    padding: 0 0 0 1.5rem;
    height: 7.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 320px) and (min-width: 1920px) {
  footer .footer__ul {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 320px) and (min-width: 3000px) {
  footer .footer__ul {
    height: 100%;
  }
}
@media only screen and (min-width: 320px) {
  footer .footer__ul__list {
    width: max-content;
    list-style-type: none;
  }
}
@media only screen and (min-width: 320px) and (min-width: 1920px) {
  footer .footer__ul__list {
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 320px) {
  footer .footer__ul__list a {
    color: white;
    text-decoration: none;
  }
}
@media only screen and (min-width: 320px) {
  footer .footer__ul__list:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
@media only screen and (min-width: 320px) {
  footer .footer__ul__list .fa-utensils {
    margin-right: 1rem;
  }
}
@media only screen and (min-width: 320px) {
  footer .footer__ul__list .fa-hands-helping {
    font-size: 0.8rem;
    margin-right: 0.8rem;
  }
}
/* Téléphone et tablettes */

/*# sourceMappingURL=index-pages.css.map */
