@charset "UTF-8";
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinreverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes spinreverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes disappear {
  0% {
    opacity: 1;
    z-index: 1001;
  }
  99% {
    opacity: 1;
    z-index: 1001;
  }
  100% {
    opacity: 0;
    z-index: -1000;
    display: none;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
    z-index: 1001;
  }
  99% {
    opacity: 1;
    z-index: 1001;
  }
  100% {
    opacity: 0;
    z-index: -1000;
    display: none;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
body {
  width: 100%;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
}

.h1__Menu {
  font-size: 1.8rem;
  margin: 0;
}

.h2__thin-uppercase {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

.h3__menus {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  margin: 0;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  display: ruby;
}

p {
  font-weight: 200;
  font-size: 1rem;
  margin: 0;
}

@media only screen and (min-width: 320px) {
  /* loader double cercle */
  .load-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -webkit-animation: forwards disappear;
    animation: forwards disappear;
    animation-duration: 3s;
    animation-timing-function: ease-in;
  }

  .loader {
    width: 4rem;
    height: 4rem;
    display: inline-block;
  }

  .loader-circles {
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9356DC;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
  .loader-circles::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid transparent;
    border-top-color: #FF79DA;
    border-radius: 50%;
    -webkit-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
  }
  .loader-circles::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 13px;
    right: 13px;
    bottom: 13px;
    border: 3px solid transparent;
    border-top-color: #fface8;
    border-radius: 50%;
    -webkit-animation: spin 5s linear infinite;
    animation: spin 5s linear infinite;
  }

  /* fin loader double cercle */
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px #797979;
    position: relative;
    z-index: 1;
  }
  header .header__title {
    margin: 0.5rem;
  }
  header .home-link {
    position: relative;
    left: -11%;
  }
  header .home-link .fa-arrow-left {
    font-size: 1.5rem;
    color: #353535;
  }

  .container {
    background-color: #F6F6F6;
    height: 100%;
  }
  .container .under-header {
    width: 100%;
    margin: 0;
  }
  .container .under-header__banner-menu {
    width: 100%;
    object-fit: cover;
  }

  .Menu {
    background-color: #F6F6F6;
    padding-top: 2rem;
    padding-bottom: 0rem;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: relative;
    top: -3.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }
  .Menu__title-and-heart {
    width: 90%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .Menu__title-and-heart .fas {
    font-size: 1.5rem;
    font-weight: 100;
    color: #7E7E7E;
    margin-right: 1rem;
  }
  .Menu__title-and-heart .fas:hover {
    font-weight: 900;
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
  .Menu__starter-dish-dessert {
    width: 93%;
    margin-bottom: 1rem;
  }
  .Menu__starter-dish-dessert__title-and-underline {
    border-bottom: 3px solid #99E2D0;
    margin: 0;
    padding-bottom: 0.2rem;
    width: 3.2rem;
  }
  .Menu__boxes {
    height: 15.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0.8rem;
    margin-bottom: 3rem;
  }
  .Menu__boxes__individual-boxes {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    background-color: white;
    height: 4.6rem;
    animation: fadein 1s;
    animation-delay: 2.9s;
  }
  .Menu__boxes__individual-boxes:hover .Menu__boxes__individual-boxes__description-column {
    cursor: pointer;
    width: 76%;
  }
}
@media only screen and (min-width: 320px) and (min-width: 481px) {
  .Menu__boxes__individual-boxes:hover .Menu__boxes__individual-boxes__description-column {
    width: 110%;
  }
}
@media only screen and (min-width: 320px) {
  .Menu__boxes__individual-boxes:hover .Menu__boxes__individual-boxes__select-button {
    cursor: pointer;
    width: 20%;
  }
}
@media only screen and (min-width: 320px) {
  .Menu__boxes__individual-boxes:hover .Menu__boxes__individual-boxes__select-button .fa-check-circle {
    cursor: pointer;
    transform: rotate(0turn);
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 320px) {
  .Menu__boxes__individual-boxes__title {
    text-overflow: ellipsis;
    overflow: hidden;
    display: ruby;
    padding-right: 3.5rem;
  }
}
@media only screen and (min-width: 320px) {
  .Menu__boxes__individual-boxes__description-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0.5rem;
    overflow: hidden;
    transition: all 300ms ease-in-out;
  }
}
@media only screen and (min-width: 320px) {
  .Menu__boxes__individual-boxes__description-and-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 1rem;
  }
  .Menu__boxes__individual-boxes__description-and-price__description {
    text-overflow: ellipsis;
    overflow: hidden;
    display: ruby;
    padding-right: 1rem;
  }
  .Menu__boxes__individual-boxes__description-and-price__price {
    font-weight: 400;
  }
}
@media only screen and (min-width: 320px) {
  .Menu__boxes__individual-boxes__select-button {
    background-color: #99E2D0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 0%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 300ms ease-in-out;
  }
  .Menu__boxes__individual-boxes__select-button .fa-check-circle {
    color: white;
    font-size: 0rem;
    transform: rotate(-1turn);
    transition: all 300ms ease-in-out;
  }
}
@media only screen and (min-width: 320px) {
  .Menu .button-primary {
    border: none;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 60px;
    box-shadow: 0px 5px 20px #a8a8a8;
  }
  .Menu .button-primary--gradient {
    background: #FF79DA;
    background: linear-gradient(176deg, #FF79DA 5%, #9356DC 100%);
  }
  .Menu .button-primary--text {
    font-size: 1.2rem;
    color: white;
  }
  .Menu .button-primary:hover {
    cursor: pointer;
    background: #9356DC;
  }
}
@media only screen and (min-width: 320px) {
  footer {
    background-color: #353535;
    width: 100%;
    margin: 0;
    border: 1px solid #353535;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }
  footer .footer__title {
    padding-left: 1.5rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
  footer .footer__ul {
    padding: 0 0 0 1.5rem;
    height: 7.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  footer .footer__ul__list {
    width: max-content;
    list-style-type: none;
  }
  footer .footer__ul__list a {
    color: white;
    text-decoration: none;
  }
  footer .footer__ul__list:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  footer .footer__ul__list .fa-utensils {
    margin-right: 1rem;
  }
  footer .footer__ul__list .fa-hands-helping {
    font-size: 0.8rem;
    margin-right: 0.8rem;
  }
}
/* Téléphone et tablettes */

/*# sourceMappingURL=index-pages.css.map */
