body{
    width: 100%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Shrikhand', cursive;

    @media #{$breakpoint-TV-min} {
        font-size: 2.5rem;
    }
}

ul{
    list-style-type: none;

    @media #{$breakpoint-TV-min} {
        font-size: 1.3rem;
    }

    @media #{$breakpoint-TV-max} {
        font-size: 1.5rem;
    }
}

