$localisation-text:#363636;
$footer-background-color: #353535;
$localisation-background: #EAEAEA;
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$background: #F6F6F6;
$icon: #7E7E7E;
$button-box-shadox:#a8a8a8;
$block-new-color:#008766;
$box-shadows-hover: #a3a3a3;
$breakpoints: (tablette: 768px);
$fonctionnement-button-hover: #F5EDFF;

$breakpoint-tablet-min: "only screen and (min-width: 481px)";
$breakpoint-tablet-mid: "only screen and (min-width: 768px)";
$breakpoint-desktop-min: "only screen and (min-width: 1220px)";