$localisation-text:#363636;
$footer-background-color: #353535;
$localisation-background: #EAEAEA;
$primary: rgb(146, 86, 220);
$secondary: rgb(255, 121, 218);
$tertiary: rgb(153, 226, 208);
$background: #F6F6F6;
$icon: #7E7E7E;
$button-box-shadox:#a8a8a8;
$block-new-color:#008766;
$box-shadows-hover: #a3a3a3;
$breakpoints: (tablette: 768px);
$fonctionnement-button-hover: #F5EDFF;

$breakpoint-phone: "only screen and (min-width: 320px)";
$breakpoint-tablet-min: "only screen and (min-width: 481px)";
$breakpoint-tablet-mid: "only screen and (min-width: 768px)";
$breakpoint-tablet-max: "only screen and (min-width: 992px)";
$breakpoint-desktop: "only screen and (min-width: 1280px)";
$breakpoint-TV-min: "only screen and (min-width: 1920px)";
$breakpoint-TV-mid: "only screen and (min-width: 2000px)";
$breakpoint-TV-max: "only screen and (min-width: 3000px)";