@import "variables";
@import "keyframes";
@import "bases";
@import "mixin";

body{
    width: 100%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.h1__Menu{
    font-size: 1.8rem;
    margin: 0;

    @media #{$breakpoint-desktop} {
        font-size: 2rem;
    }

    @media #{$breakpoint-TV-min} {
        font-size: 2.5rem;
    }
}

.h2__thin-uppercase{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;

    @media #{$breakpoint-desktop} {
        font-size: 1.5rem;
    }
}

.h3__menus{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    margin: 0;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    display: ruby;

    @media #{$breakpoint-desktop} {
        font-size: 1.4rem;
    }

    @media #{$breakpoint-TV-min} {
        font-size: 1.5rem;
    }

    @media #{$breakpoint-TV-max} {
        font-size: 2rem;
    }
}

p{
    font-weight: 200;
    font-size: 1rem;
    margin: 0;

    @media #{$breakpoint-desktop} {
        font-size: 1.3rem;
    }

    @media #{$breakpoint-TV-min} {
        font-size: 1.5rem;
    }

    @media #{$breakpoint-TV-max} {
        font-size: 1.8rem;
    }
}


@media only screen and (min-width : 320px) {

    /* loader double cercle */

.load-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -webkit-animation: forwards disappear;
    animation: forwards disappear;
    animation-duration: 3s;
    animation-timing-function: ease-in;
}

.loader{
    width: 4rem;
    height: 4rem;
    display:inline-block;
}

.loader-circles {
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $primary;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    &::after{
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border: 3px solid transparent;
        border-top-color: $secondary;
        border-radius: 50%;
        -webkit-animation: spin 10s linear infinite;
        animation: spin 10s linear infinite;
    }
    &::before{
        content: "";
        position: absolute;
        top: 13px;
        left: 13px;
        right: 13px;
        bottom: 13px;
        border: 3px solid transparent;
        border-top-color: lighten($secondary, 10%);
        border-radius: 50%;
        -webkit-animation: spin 5s linear infinite;
        animation: spin 5s linear infinite;
    }
}

/* fin loader double cercle */

    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 5px #797979;
        position: relative;
        z-index: 1;
        .header__title{
            margin: 0.5rem;
            }
        .home-link{
            position: relative;
            left: -11%; 

            @media #{$breakpoint-tablet-mid} {
                left: -30%; 
            }

            @media #{$breakpoint-desktop} {
                left: -35%; 
            }

            @media #{$breakpoint-TV-mid} {
                left: -40%; 
            }

            @media #{$breakpoint-TV-max} {
                left: -43%; 
            }  
            .fa-arrow-left{
            font-size: 1.5rem;
            color: #353535;
            }
        }
    }

    .container{
        background-color: $background;
        height: 100%;
        .under-header{
            width: 100%;
            margin: 0;

            @media #{$breakpoint-tablet-mid} {
                display: flex;
                height: 25rem;
            }

            @media #{$breakpoint-tablet-max} {
                height: 30rem;
            }

            @media #{$breakpoint-TV-min} {
                display: flex;
                height: 40rem;
            }

            @media #{$breakpoint-TV-max} {
                height: 55rem;
            }
            &__banner-menu{
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .Menu{
        background-color: $background;
        padding-top: 2rem;
        padding-bottom: 0rem;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        position: relative;
        top: -3.4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        &__title-and-heart{
            width: 90%;
            margin-bottom: 2rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        &__title-and-heart .fas{
            font-size: 1.5rem;
            font-weight: 100;
            color: $icon;
            margin-right: 1rem;
            &:hover{
                @include Gradient;
            }
        }
        &__starter-dish-dessert{
            width: 93%;
            margin-bottom: 1rem;
            &__title-and-underline{
                border-bottom: 3px solid $tertiary;
                margin: 0;
                padding-bottom: 0.2rem;
                width: 3.2rem;
            }
        }
        &__boxes{
            height: 15.5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-top: 0.8rem;
            margin-bottom: 3rem;

            @media #{$breakpoint-desktop} {
                height: 20rem;
            }

            @media #{$breakpoint-TV-mid} {
                height: 25rem;
            }

            @media #{$breakpoint-TV-max} {
                height: 28rem;
            }
            &__individual-boxes{
                display: flex;
                flex-direction: row;
                border-radius: 20px;
                background-color: white;
                height: 4.6rem;
                width: 100%;
                opacity: 0;
                animation: fadein 1s forwards;

                &:nth-child(1) {
                    animation-delay: 2.8s;
                }
                &:nth-child(2) {
                    animation-delay: 3s;
                }
                &:nth-child(3) {
                    animation-delay: 3.2s;
                }

                @media #{$breakpoint-tablet-max} {
                    width: 95%;
                }

                @media #{$breakpoint-desktop} {
                    height: 6rem;
                }

                @media #{$breakpoint-TV-mid} {
                    height: 7rem;
                }

                @media #{$breakpoint-TV-max} {
                    height: 8rem;
                }
                &:hover {
                    & .Menu__boxes__individual-boxes__description-column{
                        cursor: pointer;
                        width: 77%;

                        @media #{$breakpoint-tablet-min} {
                            width: 80%;
                        }
                        @media #{$breakpoint-tablet-mid} {
                            width: 110%;
                        }
                    }
                    & .Menu__boxes__individual-boxes__select-button {
                        cursor: pointer;
                        width: 20%;
                        @media #{$breakpoint-TV-min} {
                            width: 15%;
                        }
                    }
                    & .Menu__boxes__individual-boxes__select-button .fa-check-circle {
                        cursor: pointer;
                        transform: rotate(0turn);
                        font-size: 1.5rem;

                        @media #{$breakpoint-desktop} {
                            font-size: 1.9rem;
                        }

                        @media #{$breakpoint-TV-mid} {
                            font-size: 2.6rem;
                        }
                    }
                }
                &__title{
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: ruby;
                    padding-right: 3.5rem;
                }
                &__description-column{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    width: 100%;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                    padding: 0.5rem;
                    overflow: hidden;
                    transition: all 300ms ease-in-out;
                }
                &__description-and-price{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding-right: 1rem;
                    &__description{
                        text-overflow: ellipsis;
                        overflow: hidden;
                        display: ruby;
                        padding-right: 1rem;
                    }
                    &__price{
                        font-weight: 400;
                    }
                }
                &__select-button{
                    background-color: $tertiary;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 0%;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    transition: all 300ms ease-in-out;
                    .fa-check-circle{
                        color: white;
                        font-size: 0rem;  
                        transform: rotate(-1turn); 
                        transition: all 300ms ease-in-out;   
                    }
                }
            }
        }
    }

    footer{
        background-color: #353535;
        width: 100%;
        margin: 0;
        border: 1px solid #353535;
        color: white;
        padding-top: 0.5rem;
        padding-bottom: 1rem;
        .footer__title{
            padding-left: 1.5rem;
            font-size: 1.2rem;
            letter-spacing: 1px;

            @media #{$breakpoint-TV-min} {
                font-size: 1.8rem;
            }
    
            @media #{$breakpoint-TV-max} {
                font-size: 2.2rem;
            }
        }
        .footer__ul{
            padding: 0 0 0 1.5rem;
            height: 7.5rem;
        
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            @media #{$breakpoint-TV-max} {
                height: 100%;
            }
        &__list{
            width: max-content;
            list-style-type: none; 

            @media #{$breakpoint-TV-max} {
                margin-bottom: 1rem;
            }
        & a {
            color: white;
            text-decoration: none;
        }
        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
        .fa-utensils{
            margin-right: 1rem;
        }
        .fa-hands-helping{
            font-size: 0.8rem;
            margin-right: 0.8rem;
        }
        }
        }
}
} /* Téléphone et tablettes */

