@import "variables";

body{
    width: 100%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Shrikhand', cursive;
}

.h1__Menu{
    font-size: 1.8rem;
    margin: 0;
}

.h2__thin-uppercase{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
}

.h3__menus{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    margin: 0;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    display: ruby;
}

p{
    font-weight: 200;
    font-size: 1rem;
    margin: 0;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {

    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 5px #797979;
        position: relative;
        z-index: 1;
        .header__title{
            margin: 0.5rem;
            }
        .home-link{
            position: relative;
            left: -11%;        
            .fa-arrow-left{
            font-size: 1.5rem;
            color: #353535;
            }
        }
    }

    .container{
        background-color: $background;
        height: 91rem;
        .under-header{
            width: 100%;
            margin: 0;
            &__banner-menu{
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .Menu{
        background-color: $background;
        padding-top: 2rem;
        padding-bottom: 3rem;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        position: relative;
        top: -3.4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        &__title-and-heart{
            width: 90%;
            margin-bottom: 2rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        &__title-and-heart .fas{
            font-size: 1.5rem;
            font-weight: 100;
            color: $icon;
            margin-right: 1rem;
            &:hover{
                font-weight: 900;
                color: $primary;
                display: block;
                background: -webkit-linear-gradient($primary,$secondary);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                cursor: pointer;
            }
        }
        &__starter-dish-dessert{
            width: 93%;
            margin-bottom: 1rem;
            &__title-and-underline{
                border-bottom: 3px solid $tertiary;
                margin: 0;
                padding-bottom: 0.2rem;
                width: 3.2rem;
            }
        }
        &__boxes{
            height: 15.5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 0.8rem;
            margin-bottom: 3rem;
            &__individual-boxes{
                display: flex;
                flex-direction: row;
                border-radius: 20px;
                background-color: white;
                height: 4.6rem;
                &__title{
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: ruby;
                    padding-right: 3.5rem;
                }
                &__description-column{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    width: 100%;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                    padding: 0.5rem;
                    overflow: hidden;
                    transition: ease-in-out 400ms;
                }
                &__description-and-price{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding-right: 1rem;
                    &__description{
                        text-overflow: ellipsis;
                        overflow: hidden;
                        display: ruby;
                        padding-right: 1rem;
                    }
                    &__price{
                        font-weight: 400;
                    }
                }
                &__select-button{
                    background-color: $tertiary;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 0%;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    .fa-check-circle{
                        color: white;
                        font-size: 0rem;
                        transform: rotate(0deg);
                    }
                }
            &:hover .Menu__boxes__individual-boxes__description-column{
                cursor: pointer;
                width: 76%;
            }
            &:hover .Menu__boxes__individual-boxes__select-button {
                cursor: pointer;
                width: 20%;
            }
            &:hover .fa-check-circle {
                font-size: 1.5rem;
                transform: rotate(90deg);
            }
            }
        }
        .button-primary{
            border: none;
            padding: 1rem 1.5rem 1rem 1.5rem;
            border-radius: 60px;
            box-shadow: 0px 5px 20px $button-box-shadox;
            &--gradient{
                background: $secondary;
                background: linear-gradient(176deg, $secondary 5%, $primary 100%);
            }
            &--text{
                font-size: 1.2rem;
                color: white;
            }
            &:hover{
                cursor: pointer;
                background: $primary;
            }
        }
    }

    footer{
        background-color: #353535;
        margin: 0;
        border: 1px solid #353535;
        color: white;
        padding-top: 0.5rem;
        padding-bottom: 1rem;
        .footer__title{
            padding-left: 1.5rem;
            font-size: 1.2rem;
            letter-spacing: 1px;
        }
        .footer__ul{
            padding: 0 0 0 1.5rem;
            height: 7.5rem;
        
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        &__list{
            width: max-content;
            list-style-type: none; 
        & a {
            color: white;
            text-decoration: none;
        }
        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
        .fa-utensils{
            margin-right: 1rem;
        }
        .fa-hands-helping{
            font-size: 0.8rem;
            margin-right: 0.8rem;
        }
        }
        }
}
} /* Téléphone */